<div class="container-fluid">
    <div class="row" style="height:10px"></div>
    <div class="col-xs-12" style="text-align: right;">
        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-10">
            <a target="_blank" href="https://www.facebook.com/beautysecretcenterltd">
                <img src="assets/images/template/facebook_flag.png" style="cursor: pointer;">
            </a>
            <img src="assets/images/template/gre_flag.png" (click)="setLanguage('gre');" style="cursor: pointer;">
            <img src="assets/images/template/eng_flag.png" (click)="setLanguage('eng');" style="cursor:pointer;">
        </div>
        <div class="hidden-xs hidden-sm col-md-1 col-lg-2"></div>
    </div>
    <div class="col-xs-12 center-block align">
        <ul class="list-inline hidden-xs">
            <li>
                <a [routerLink]="['/home']">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>Home</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/about']">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>About</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/services']">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>Services</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/gallery']">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>Gallery</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/contactus']">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>Contact</div>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1466049360108051.1073741840.837296006316726&type=1&l=079ecef32d">
                    <div class="menuButtons ">
                        <div class="munuDiv"></div>Offers</div>
                </a>
            </li>
        </ul>
        <ul class="list-inline hidden-sm hidden-md hidden-lg">
            <!-- Mobile version menu -->


            <li>
                <a [routerLink]="['/home']" class="">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>Home</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/about']">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>About</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/services']">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>Services</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/gallery']">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>Gallery</div>
                </a>
            </li>
            <li>
                <a [routerLink]="['/contactus']">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>Contact</div>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1466049360108051.1073741840.837296006316726&type=1&l=079ecef32d">
                    <div class="menuButtonsSmall ">
                        <div style="height: 15px;"></div>Offers</div>
                </a>
            </li>
        </ul>
    </div>
    <div class="row hidden-xs" style="height: 100px"></div>
    <div class="row hidden-sm hidden-md hidden-lg" style="height: 50px"></div>
    <div class="row text-center">
        <img src="assets/images/template/logo_large.png" width="445" class="hidden-xs">
        <img src="assets/images/template/logo_large.png" width="250" class="hidden-sm hidden-md hidden-lg">
    </div>
    <div class="row hidden-xs" style="height: 20px;"></div>
</div>