<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Body Treatments
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        Beauty Secret Center is using Thalgo body treatments specialising in marine spa therapies, harnessing all the riches
        of the sea; oligo-elements, proteins, amino-acids, minerals and vitamins that assist in slimming,
        firming, detox and relaxation.
        <br><br>
        <span class=main-label-small>THALGO 3 ALGAE WRAP 45 MIN</span><br>
        The original marine algae wrap, harnessing all the incredible benefits of seaweed. After a relaxing welcome massage to relieve tensions,
        the body is exfoliated before Thalgo’s patented seaweed body wrap is applied, infusing its minerals, vitamins and micro-nutrients
        to the body. This treatment activates circulation, increases metabolism, relieves aches and pains and improves skin conditions
        such as eczema and psoriasis. This is an excellent treatment for detox and general well-being.
        <br><br>
        <span class=main-label-small>THALGO EXPRESS DETOX BODY WRAP – 45 min</span><br>
        This is a rapid detox treatment. The body wrap features a detoxifying seaweed, to eliminate excess fluid and relieve tired and heavy
        legs, combined with refreshing and stimulating essential oils of Peppermint and Lavender. After the seaweed wrap is removed,
        a relaxing massage is carried out using an oil blended especially for detox.
        <br><br>
        <span class=main-label-small>THALGO WARM ALGAE PASTE -  45 min</span><br>
        This warm algae paste fights stubborn fat and localized areas of cellulite thanks to a slimming seaweed laminaria and pine essential
        oils. After the seaweed wrap is removed, a cellulite massage is carried out using an oil blended especially for slimming.
        <br><br>
        <span class=main-label-small>THALGO AROMACEANE BODY WRAP - 60 min</span><br>
        This ultra-relaxing treatment combines Aromatherapy with a marine body wrap to improve health and well-being. After a welcome
        massage to soothe tensions, the therapist performs reflex activity on the feet. The Natural Marine Mud body wrap is customised with
        essential oils, chosen to suit your specific concerns (relaxation, slimming) and applied to the body. You will be wrapped in a  thermal
        blanket while it infuses its benefits. Once the wrap is removed, a light massage is carried out with the chosen blend of essential oils.
        <br><br>
        <span class=main-label-small>THALGO MARINE PRELUDE - 60 min</span><br>
        For full body exfoliation prior to tanning, or whenever you want super-soft skin, this treatment combines Natural Marine Mud and
        sea salts, which infuse their benefits via a body wrap before the skin is exfoliated to eliminate dead skin cells, alleviate any
        roughness and invigorate the entire body by activating micro-circulation. After the mud and salts are removed, a light massage is
        carried out using a conditioning body cream.
        <br><br>

        <span class=main-label-small>THALGO MARINE CREAM SCRUB - 40 min</span><br>
        Gentle and efficient cream body scrub for all skin types, even the most sensitive
        <br><br>
        <span class=main-label>SLIMMING</span>
        <br><br>
        <span class=main-label-small>FRIGI THALGO BODY WRAP  -  45 min</span><br>
        A bandage wrap is applied to the body, infused with a lotion containing Thalgo patented seaweed extract, Menthol and active ingredients
        to improve blood flow and regulate fluid balance. Frigi -Thalgo is able to significantly boost circulation, making it highly effective at
        eliminating excess fluid and toxins from the hip and thigh area. It is very popular as an anti-cellulite treatment or for a slimming quick fix.
        <br><br>
        <span class=main-label-small>PERFECT SCULPT MASSAGE – 25 min</span><br>
        The Perfect Sculpt massage is used to lastingly dislodge both cellulite and stubborn fat, while restoring skin tone.
        <br><br>
        <span class=main-label-small>HIGH PERCISION SHAPING TREATMENT– 45 min</span><br>
        This corrective anti-cellulite, anti-excess fat and anti-slackening treatment implements three exclusive and coordinated kinds
        of expertise. Body Wrap with Active Oxygen, high performance concentrates and Perfect Sculpt massage.
        <br><br>
        <span class=main-label>MENS TREATMENTS</span><br>
        Beauty Secret Center uses Thalgo men treatments for facials, purifying and relaxing rituals. The selection of treatments takes
        account of your own skin care routine and skin type so all that is left to you is to choose!
        <br><br>
        <span class=main-label-small>THALGO MEN OCEAN  - 60 min</span><br>
        In 60 minutes your skin is cleansed, exfoliated and massaged with a regenerating moisturising treatment. The anti-fatigue mask
        takes 10 minutes to act, leaving the skin fresh and clear. An ideal break during a busy week!
        <br><br>
        <span class=main-label-small>MANUAL MICRO-DERMABRATION - 60 min</span><br>
        This treatment aims at purifying the skin in-depth and reducing the signs of ageing. From the very first session, your skin is
        actually clearer; your face is no longer dull and tired-looking.
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Θεραπείες Σώματος
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">

        Το Beauty Secret Center χρησιμοποιεί θεραπείες σώματος της Thalgo που είναι ειδικοί στον τομέα της θαλασσο-θεραπείας
        αξιοποιώντας  τον θαλάσσιο πλούτο. Στις θεραπείες σώματος χρησιμοποιούνται ιχνοστοιχεία, πρωτεΐνες, αμινο-οξέα  και μεταλλικά
        άλατα τα οποία βοηθούν για αδυνάτισμα, σύσφιξη, αποτοξίνωση και χαλάρωση.

        <br><br>
        <span class=main-label-small>THALGO 3 ALGAE WRAP 45 λεπ.</span><br>
        Η αυθεντική θεραπεία με άλγη αξιοποιεί όλα τα πλεονεκτήματα της θάλασσας. Μετά από την απολέπιση σώματος, στο σώμα
        θα τοποθετηθεί  μίγμα από την πατέντα φυκιών της Thalgo που θα εισχωρήσει στο σώμα  μεταλλικά στοιχεία, βιταμίνες, και
        αλλά θρεπτικά συστατικά. Αυτή η θεραπεία ενεργοποιεί την κυκλοφορία του αίματος, ενισχύει τον μεταβολισμό ανακουφίζει
        από πόνους και βελτιώνει δερματικές καταστάσεις όπως έκζεμα και ψωρίαση. Καταπληκτική θεραπεία για αποτοξίνωση και ευεξία.

        <br><br>
        <span class=main-label-small>THALGO EXPRESS DETOX BODY WRAP – 45 λεπ.</span><br>
        Μια γρήγορη θεραπεία με μάσκα  που περιέχει αποτοξινωτική άλγη , για μείωση της κατακράτησης υγρών και ανακούφιση
        κουρασμένων ποδιών σε συνδυασμό με μίγμα αιθέριων ελαίων λεβάντας και μέντας . Μετά την αφαίρεση της μάσκας γίνεται
        χαλαρωτικό μασάζ με ειδικό μίγμα αιθέριων ελαιών  για αποτοξίνωση.

        <br><br>
        <span class=main-label-small>THALGO WARM ALGAE PASTE -  45 λεπ.</span><br>
        Θεραπεία που καταπολεμά το επίμονο λίπος και την τοπική κυτταρίτιδα χάρη στις ευεργετικές ιδιότητες την laminaria και του
        αιθέριου ελαίου από πεύκο. Μετά την αφαίρεση της πάστας γίνεται ειδικό μασάζ κυτταρίτιδας με μίγμα αιθέριων ελαίων.

        <br><br>
        <span class=main-label-small>THALGO AROMACEANE BODY WRAP - 60 λεπ.</span><br>
        Η θεραπεία αύτη συνδυάζει άρωμα-θεραπεία και θαλλασοθεραπεία για βελτίωση της υγείας και ευεξίας. Μετά από την
        ενεργοποίηση της αντανακλαστικής  δραστηριότητας στο πόδι, στο σώμα θα τοποθετηθεί  μίγμα λάσπης από την νεκρά
        θάλασσα με αιθέρια έλαια αναλόγος αναγκών. Με την χρήση θερμοκουβέρτας  όλα τα ενεργά συστατικά της λάσπης θα
        εισχωρήσουν στο σώμα προσφέροντας του τις ευεργετικές του ιδιότητες.

        <br><br>
        <span class=main-label-small>THALGO MARINE PRELUDE - 60 λεπ.</span><br>
        Ολική απολέπιση σώματος πριν από την έκθεση στον ήλιο ή για ένα βελούδινο δέρμα. Η θεραπεία αύτη συνδυάζει λάσπη από
        την νεκρή θάλασσα και θαλασσινά άλατα που θα διεισδύσουν στο δέρμα μέσω ζεστής περιτύλιξης για να απομακρυνθούν τα
        νεκρά κύτταρα τραχύτητα του δέρματος αλλά και  για να βελτιωθεί η μικροκυκλοφορία. Μετά την αφαίρεση της λάσπης γίνεται
        χαλαρωτικό μασάζ με το κατάλληλο προϊόν.

        <br><br>
        <span class=main-label-small>THALGO MARINE CREAM SCRUB - 40 λεπ.</span><br>
        Απολέπιση σώματος με απαλό, κρεμώδες πίλινγκ για την απομάκρυνση των νεκρών κυττάρων από το σώμα.

        <br><br>
        <span class=main-label>Θεραπείες Αδυνατίσματος</span>

        <br><br>
        <span class=main-label-small>FRIGI THALGO BODY WRAP  -  45 λεπ.</span><br>
        Το σώμα περιτυλίγεται με επιδέσμους εμποτισμένους με λοσιόν που περιέχει  έκδοχα από άλγη, μέντα και ενεργά συστατικά που
        βελτιώνουν την κυκλοφορία του αίματος. Η θεραπεία αυτή ενεργοποιεί την κυκλοφορία βοηθώντας την κατακράτηση και τις
        τοξίνες να απομακρυνθούν από την περιοχή των γοφών και μηρών. Είναι πολύ ευεργετική στην κυτταρίτιδα και στο αδυνάτισμα.

        <br><br>
        <span class=main-label-small>PERFECT SCULPT MASSAGE – 25 λεπ.</span><br>
        Το Perfect Sculpt massage είναι σχεδιασμένο με συγκεκριμένες βαθιές και αποτελεσματικές κινήσεις και είναι ιδανικό για την
        καταπολέμηση της κυτταρίτιδας και του επίμονου τοπικού λίπους ενώ ταυτόχρονα βοήθα στην τόνωση του δέρματος.

        <br><br>
        <span class=main-label-small>HIGH PERCISION SHAPING TREATMENT– 45 λεπ.</span><br>
        Αυτή η διορθωτική θεραπεία κατά της κυτταρίτιδας, κατά του  λίπους και κατά της χαλάρωση υλοποιείται  από τρία στάδια.
        Η περιτύλιξη του σώματος με ενεργό οξυγόνο θα βοηθήσει στην οξυγόνωση των ιστών καθώς τα  υψηλής απόδοσης
        συμπυκνωμένα ενεργά συστατικά θα στοχεύσουν στην λιπόλυση και σύσφιξη του σώματος .

        <br><br>
        <span class=main-label>Θεραπείες για άνδρες</span>

        <br><br>
        <span class=main-label-small>THALGO MEN OCEAN  -  60 λεπ.</span><br>
        60 λεπτά είναι ότι χρειάζεται για ένα δέρμα απαλό, καθαρό από νεκρά κύτταρα, πλήρως ενυδατωμένο και ζωντανό.

        <br><br>
        <span class=main-label-small>MANUAL MICRO-DERMABRATION - 60 λεπ.</span><br>
        Η θεραπεία αύτη έχει σαν σκοπό τον βαθύ καθαρισμό του δέρματος και την μείωση των ρυτίδων από το πρόσωπο. Από την
        πρώτη κιόλας θεραπεία το δέρμα είναι πιο καθαρό, φρέσκο με μειωμένα τα σημάδια κούρασης.
    </div>
</div>
<div class="row" style="height: 30px;"></div>