<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Detox body
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        Detox body treatment with ionization<br><br>

        <ul>
            <li>Removes the toxins and the waste from the body which are
                known they cause health problems
            </li>
            <li>Reduce free radicals</li>
            <li>Inactivates viruses, bacteria , yeasts and fungus</li>
            <li>Relieves pain , tension and headaches</li>
            <li>Cleans and increases blood circulation</li>
            <li>Improves the body’s ability to self - cleanse</li>
            <li>Stimulates and help’s balance the immune system</li>
            <li>Reduces inflammation and unwanted fluid retention</li>
            <li>Slows down ageing and improves the flexibility of the body</li>
            <li>Increases the oxygen in the body</li>
            <li>Speeding up recovery from illness and injuries</li>
            <li>Improves Sleep</li>
            <li>Increases energy and well - being</li>
            <li>Rejuvenates and activates the body</li>
            <li>Strengthens the defense system</li>
            <li>Relieves rheumatism and arthritis</li>
            <li>Helps to loose weight</li>
            <li>Improves nutrient uptake</li>
        </ul>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Θεραπεία αποτοξίνωσης
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">

        Θεραπεία αποτοξίνωσης σώματος με ιονισμό<br><br>
        <ul>
            <li>Αφαιρεί τις τοξίνες και τα απόβλητα του σώματος που ως γνωστό
                προκαλούν προβλήματα υγείας</li>
            <li>Μειώνει τις ελεύθερες ρίζες στον οργανισμό</li>
            <li>Αδρανοποιεί τους ιούς, βακτήρια, ζύμες και μύκητες</li>
            <li>Ανακουφίζει από πόνους και εντάσεις καθώς επίσης και από πονοκεφάλους</li>
            <li>Καθαρίζει και αυξάνει την κυκλοφορία του αίματος</li>
            <li>Βελτιώνει την ικανότητα καθαρισμού του σώματος</li>
            <li>Τονώνει και βοηθά στην εξισορρόπηση του ανοσοποιητικού συστήματος</li>
            <li>Βοηθά στην απώλεια βάρους</li>
            <li>Βελτιώνει την απορρόφηση των θρεπτικών συστατικών από τις τροφές</li>
            <li>Μειώνει τις φλεγμονές και ανεπιθύμητη κατακράτηση υγρών</li>
            <li>Επιβραδύνει τη γήρανση και βελτιώνει την ευελιξία του σώματος</li>
            <li>Αυξάνει το οξυγόνο στον οργανισμό</li>
            <li>Κάνει πιο γρήγορη την ανάρρωση από ασθένεια ή τραυματισμό</li>
            <li>Βελτιώνει τον ύπνο</li>
            <li>Αυξάνει την ενέργεια και ευεξία</li>
            <li>Αναζωογονεί και ενεργοποιεί όλο το σώμα.</li>
            <li>Ενισχύει το αμυντικό σύστημα</li>
            <li>Ανακουφίζει απο ρευματισμούς και αρθρίτιδες</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 30px;"></div>