<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        About
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Beauty Secret center is a full-service beauty salon dedicated to consistently provide high customer satisfaction by providing excellent 
            service , quality products , and furnishing an enjoyable atmosphere at an acceptable price/value relationship. Our purpose is to create 
            a relaxed and calm atmosphere, helping our clients to reach to a state of total peace and relaxation . We supply services and products 
            that enhance our clients physical appearance and mental harmony !!
                
        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
        <div class="row main-label">
            About
        </div>
        <div class="row" style="height: 30px;"></div>
        <div class="row">
            <p>
                Το Beauty Secret center ltd είναι ένα πλήρως εξοπλισμένο σαλόνι ομορφιάς, ένας υπέροχος μαγευτικός χώρος. Προσφέρουμε στους
                πελάτες μας άριστη εξυπηρέτηση, προϊόντα υψηλής ποιότητας σε μία ευχάριστη ατμόσφαιρα. Στόχος μας είναι να προσφέρουμε
                θεραπείες που βελτιώνουν την εμφάνιση αλλά και να παρέχουμε μία χαλαρωτική εμπειρία για το μυαλό και το πνεύμα!
                Στο Beauty Secret center ltd αναζωογονήστε σε κάθε σας επίσκεψη !!
            </p>
        </div>
    </div>
    <div class="row" style="height: 30px;"></div>