<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        I Beauty
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            I Beauty is the perfect solution for those seeking a deep rebalancing cleanse, leaving the skin healthier, brighter and cleansed
            of impurities. Thalgo’s new i Beauty treatment machine draws on three different technologies to deliver a series
            of facials for all skin types. The sound vibration technology offers mechanical exfoliation that helps remove
            dead skin cells, sebum and other impurities. Meanwhile, the vibrational waves of the sequential ultrasound technology
            boosts microcirculation, encourages cell metabolism and furthers tissue drainage, while the tripolar radio frequency
            has a tightening, firming and plumping effect on the skin. The skin is healthier, brighter and cleansed of impurities
            from the first session. iBeauty is an absolute safe solution and it can be used for all skin types and all ages.
        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
            I Beauty
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
                Το νέο επαναστατικό I BEAUTY Τελευταίας τεχνολογίας !!!<br>
                Η επιδερμίδα σας θα λάμψει! Χάρη στη spatula υπερήχων προσφέρει βαθιά απολέπιση & καθαρισμό με μη επιθετικό τρόπο, ενώ οι υπέρηχοι βοηθούν
                στην αποτοξίνωση & ενυδάτωση του δέρματος. Οι τριπολικές ραδιοσυχνότητες της i-Beauty Device θα τονώσουν & θα συσφίξουν εκπληκτικά το 
                δέρμα σας. Είναι απόλυτα ασφαλής και καθόλου επεμβατική στο δέρμα, ενώ ταιριάζει  σε όλους τους τύπους δέρματος και σε όλες τις ηλικίες.

        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>