<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Massage
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Various types of massage are provided in SM Beauty Secret. Our beauty therapists use various techniques to enhance function, aid in the healing 
            process, promote relaxation and well being. Some of the techniques offered are the following:
            <br><br>
            <span class="main-label-small">AROMATHERAPY</span><br>
            Essential oils are used to treat conditions ranging from stimulating circulations to treating depression, relaxing, healing and stress reducing.
            <br><br>
            <span class="main-label-small">SWEDISH MASSAGE</span>  <br>
            Probably the most popular massage technique aiming to relax the entire body. It uses several techniques, including kneading, rolling, and taping 
            strokes to aid in stress and tension reduction. With Swedish massage, the level of oxygen in the blood is increased, decreasing muscle toxins and 
            improving circulation.
            <br><br>
            <span class="main-label-small">REFLEXOLOGY MASSAGE</span> <br>
            Reflexology is a therapeutic method of relieving pain by stimulating predefined pressure points on the feet and hands. Reflexology massage also 
            decreases stress and releases blockages, restoring flow of energy. This type of massage can alleviate allergy symptoms, as well as back pain and
            chronic fatigue.
            <br><br>
            <span class="main-label-small">SPORTS MASSAGE</span> <br>
            This type of massage is preferred by people who are active and are involved in sports and physical activities. The aim of this type of massage is to 
            prevent and treat any injury. It also helps athletes to optimize their performance by improving flexibility and improve muscle balance. In Sports
            massage a combination of massage techniques are used with emphasis on stretching for loosen muscles and improve elasticity. 
            <br><br>
            <span class="main-label-small">THERAPEUTIC / DEEP TISSUE MASSAGE</span> <br>
            This type of massage is using various massage techniques to access deeper layers of muscle tissue. This massage is very good to reduce pain and 
            inflammation.
            <br><br>
            <span class="main-label-small">INDIAN HEAD MASSAGE</span><br>
            Through a variety of different techniques, this type of  massage works to release any blocked negative energy in the body that may be manifesting 
            itself as disease or injury in any one of the seven Chakras (energy centres) of the body. It does so by applying pressure to certain points on the neck,
                shoulders and head that correspond to each Chakra (which is a similar approach to that of reflexology). This unblocks the Chakras, and allows for 
            a free flow of energy around the body, restoring the individual to optimum health and feelings of wellbeing.
            <br><br>
            <span class="main-label-small">LYMPHATIC MASSAGE</span><br>
            The lymphatic massage is a specialized technique for the activation of lymphatic vessels and improves blood and lymph circulation. Hand massage 
            is done on problematic areas such as thighs, buttocks and hips to improve blood circulation and removes unhealthy white blood cells. 
            <br><br>
            <span class="main-label-small">HOT STONE MASSAGE</span><br>
            This type of massage is very good for people who have muscle tension and they prefer a more light massage. Hot stones are used  to apply pressure 
            and to heat the body, releasing muscle tension, increasing blood flow and provide healing and relaxation. 
            <br><br>
            <span class="main-label-small">CANDLE MASSAGE</span><br>
            This is a full body massage with the use of melted candle.  A unique and original sense of relaxation in combination with essential  oils offers deep
            hydration that last for days.
            <br><br>
            <span class="main-label-small">ORIENTAL MASSAGE</span><br>
            This is a holistic body massage inspired by the nature of East. It combines wooden sticks and hot sand pouches with smell of  citrus for stimulating, 
            revitalizing and relaxation.
            <br><br>
            <span class="main-label-small">PHUKET MASSAGE</span><br>
            This is a treatment that is used for muscle relaxation and mental wellbeing. Enjoy this special massage that combines wooden sticks, hot stones and 
            essential oils. This massage can reduce stress; muscle aches and provides high relaxation.
            <br><br>
            <span class="main-label-small">EXOTIC CEYLON MASSAGE</span><br>
            A deeply relaxing massage with the use of warmed shells. The warmed shells glide over the body with a highly relaxing, de-stressing rhythm. The 
            Exotic Ceylon massage is used to reduce stress. It is a revitalising and warming full body massage. It is a unique massage, giving you the feeling of 
            being in seabed with beautiful shells! Feel this unique experience.
            <br><br>
            <span class="main-label-small">MYSTERIOUS MASSAGE</span><br>
            An exotic massage that combines gentle stretching with the use of a silk scarf and muscle relaxation using wooden sticks.  This massage is ideal for 
            deep relaxation and body wellness.
            <br><br>
            <span class="main-label">Spa Rituals</span>
            <br><br>
            <span class="main-label-small">Thalgo Sea & Senses Hot Stone Full Body & Face Ritual - 2 hrs</span> <br>
            For total well-being and indulgence, experience the complete Sea & Senses face and body ritual with marine hot stones. For the face, a welcome
            massage and cleansing ritual immerse you in an aquatic cocoon of relaxation with a spritz of Reviving Marine Mist, before a seaweed mask is mixed 
            with essential oils adapted to your skin type and applied to the skin. While the mask infuses its benefits, the therapist carries out a massage using the
            hot stones, starting with reflex activity on the feet. After a full body exfoliation, warm volcanic basalt stones are applied to specific points on the body 
            to relax and eliminate toxins. During this ultra-sensorial experience incorporating a unique massage technique using marine hot stones, tension 
            quickly gives way to deep relaxation and the skin regains its natural beauty.
            <br><br>
            <span class="main-label-small">Thalgo Polynesia Spa Ritual - 1 hr 15 min</span><br>
            Experience Polynesia, the exotic sensorial spa ritual, inspired by four of the most beautiful islands hidden in the heart of the Pacific Ocean. This luxurious 
            treatment begins with an azure water foot bath inspired by the crystal blue waters of the Manihi Lagoon to protect and hydrate the skin. Next is the 
            Exotic Island Body Scrub, a gentle vanilla-scented body scrub blended with pure white sand from Bora Bora, sea salt, coconut shell and algo-monoi 
            for a thorough exfoliation of the entire body to leave the skin feeling smooth and soft. The Mahana Massage incorporates a rhythmic Lomi-Lomi 
            massage and warm sand pouches to loosen muscles and nourish the skin. Finally, Polynesian Sacred Oil from Raïatea, the sacred island, is swept over 
            the skin, its subtle golden pearls leaving a sunkissed glow and a delicate scent of flowers.
            <br><br>
            <span class="main-label-small">Thalgo Indocéane Spa Ritual - 1hr 20 min</span><br>
            Indocéane is an intoxicating spa ritual, taking you on a journey of ultimate relaxation across the continents encompassing age-old traditions and 
            rituals of beautification. This most sensual of treatments commences with soothing Egyptian Precious Milk foot bath ritual to relax and calm your senses.
            This is followed by a skin softening Mediterranean influenced body exfoliation that prepares your skin for the Ayurvedic-inspired massage that uses 
            warmed oils and an ancient Indian technique.  The final Asian step is a Silky Smooth body wrap which harnesses the serenity and relaxing powers of 
            the Orient. 
            <br><br>
            <span class="main-label-small">Escape to Provence Face and Body - 1hr 20 min</span><br>
            A Provencal organic ritual. Pure Alchemy between the sea and plants, this very original and complete ritual offers a body massage and facial 
            adapted to your skin. Body is massaged with Organic Lavender Oil in a relaxing way leaving your skin soft and smooth.
                
                
        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
        <div class="row main-label">
                Μασάζ
        </div>
        <div class="row" style="height: 30px;"></div>
        <div class="row">
            <p>
                Το μασάζ χαλαρώνει τους μύες, βοηθά στην καλύτερη κυκλοφορία του αίματος και στην αποβολή από τους μύες των άχρηστων ουσιών  που
                συσσωρεύονται σε αυτούς λόγω κούρασης. Τα διάφορα είδη μασάζ που προσφέρονται στο  Beauty Secret center  βοηθούν στην μείωση του στρες,
                στην καταπολέμηση του πόνου, στην βελτίωση της εικόνας του δέρματος και στην βελτίωση της σωματικής και ψυχικής ευεξίας.
                <br><br>
                <span class="main-label-small">AROMATHERAPY - Μασάζ με αρωματοθεραπεία</span><br>
                Σκοπός της αροματωθεραπείας είναι η βελτίωση της σωματικής και ψυχικής ευεξίας. Όσοι υποφέρουν από άγχος και άλλες ψυχικές διαταραχές, 
                ίσως θα έπρεπε να δοκιμάσουν αυτόν τον τύπο μασάζ, ο οποίος συνδυάζει τις μαλάξεις με την χρήση  φυτικών αρωματικών ελαίων. Τα αιθέρια έλαια 
                επιλέγονται ανάλογα με τις ανάγκες του θεραπευόμενου.
                <br><br>
                <span class="main-label-small">SWEDISH MASSAGE - Σουηδικό μασάζ</span><br>
                Το σουηδικό μασάζ είναι από τα πιο διαδομένα και δημοφιλή είδη μασάζ με στόχο την απόλυτη χαλάρωση του σώματος. Ο θεραπευτής χρησιμοποιεί 
                ένα συνδυασμό δυτικών και ανατολίτικων τεχνικών, οι οποίες βελτιώνουν την λειτουργία του νευρικού και του κυκλοφορικού συστήματος. Παράλληλα 
                βοηθά στην μείωση του στρές και της ψυχικής έντασης.
                <br><br>
                <span class="main-label-small">REFLEXOLOGY MASSAGE – Pεφλεξολογία</span><br>
                Η Ρεφλεξολογία είναι μια θεραπευτική μέθοδος ασκώντας πίεση σε προκαθορισμένα σημεία στα πόδια και στα χέρια για την ανακούφιση του πόνου. 
                Μέσα από τη χαλάρωση ενεργοποιούνται οι αυτό-θεραπευτικές δυνάμεις του οργανισμού και επανέρχεται η φυσιολογική ροή της ενέργειας.  
                Η ρεφλεξολογία βοηθά στην καταπολέμηση του άγχους, ημικρανίες, αθλητικές κακώσεις, δισκοπάθεια, αλλεργίες, άσθμα, βρογχίτιδες, δυσκοιλιότητα, 
                γυναικολογικές διαταραχές, αυχενικό, οσφυαλγίες και ισχιαλγίες.
                <br><br>
                <span class="main-label-small">SPORTS MASSAGE – Αθλητικό μασάζ</span><br>
                Αυτό το είδος του μασάζ προτιμάται από τους ανθρώπους που συμμετέχουν σε αθλητικές και φυσικές δραστηριότητες.  Επικεντρώνεται στην 
                αποσυμφόρηση των μυών, και στην γρήγορη αποκατάσταση του μυϊκού συστήματος. Ο στόχος αυτού του τύπου μασάζ είναι η πρόληψη και η 
                θεραπεία κάθε τραυματισμού. Επίσης, βοηθά τους αθλητές να έχουν καλύτερες επιδόσεις με τη βελτίωση της ευελιξίας και τη βελτίωση της ισορροπίας 
                των μυών. Στο Αθλητικό μασάζ ο θεραπευτής χρησιμοποιεί ένα συνδυασμό τεχνικών μασάζ με έμφαση στο τέντωμα των μυών.
                <br><br>
                <span class="main-label-small">THERAPEUTIC / DEEP TISSUE MASSAGE – Βαθύ μυϊκό μασάζ</span><br>
                Ο θεραπευτής χρησιμοποιεί διάφορες τεχνικές μασάζ με σκοπό την αντιμετώπιση πόνου και χρόνιων προβλημάτων. Το βαθύ μυϊκό μασάζ είναι ένα 
                έντονο μασάζ και απευθύνεται σε κάθε μυ. Είναι θεραπευτικό,  προσφέρει μυϊκή χαλάρωση και αποβάλει τις εντάσεις και τις τοξίνες.
                
                <br><br>
                <span class="main-label-small">INDIAN HEAD MASSAGE</span><br>
                Αυτό το είδος του μασάζ βοηθά στην απεμπλοκή των ενεργειακών κέντρων (επτά τσάκρα) του σώματος. Αυτό επιτυγχάνεται με την εφαρμογή 
                πίεσης σε ορισμένα σημεία στο λαιμό, τους ώμους και το κεφάλι, που αντιστοιχούν σε κάθε Τσάκρα (η οποία είναι μια προσέγγιση παρόμοια με εκείνη 
                της ρεφλεξολογίας). Το Indian Head Massage ανακουφίζει την ένταση και τους πονοκέφαλους, καθώς και πόνους στο λαιμό και στην πλάτη. 
                Μειώνει το στρες, προωθεί τη χαλάρωση , βοηθά στην αφαίρεση των τοξινών και την ενίσχυση του ανοσοποιητικού συστήματος. Ακόμη προάγει μία 
                αίσθηση ειρήνης και ηρεμίας και ανακούφιση από την κατάθλιψη.
                <br><br>
                <span class="main-label-small">ΛΕΜΦΙΚΟ ΜΑΣΑΖ </span><br>
                Το λεμφικό μασάζ αποτελεί μια εξειδικευμένη τεχνική ενεργοποίησης και κινητοποίησης των λεμφικών αγγείων και βελτίωσης της κυκλοφορίας του 
                αίματος και της λέμφου. Το λεμφικό μασάζ, βασίζεται σε τεχνικές χειρομασάζ μιας ώρας. Τοπικά, στις προβληματικές περιοχές, όπως μηρούς, γλουτούς, 
                και γοφούς. Με το λεμφικό μασάζ, διεγείρουμε την κυκλοφορία της λέμφου και αποβάλλονται από τα λιποκύτταρα, που δημιουργούν την όψη 
                πορτοκαλιού στο δέρμα, τοξίνες και λίπος. 
                <br><br>
                <span class="main-label-small">HOT STONE MASSAGE</span><br>
                Αυτό το είδος του μασάζ είναι πολύ καλό για τους ανθρώπους που έχουν ένταση στους μύες  και προτιμούν ένα πιο ελαφρύ μασάζ. Ειδικές πέτρες 
                χρησιμοποιούνται  με στόχο την  απελευθέρωση της  ένταση των μυών, καταπολέμηση του άγχους και αύξηση της ομαλής ροής  του αίματος. 
                Μία εξωτική θεραπεία, η οποία απελευθερώνει την συσσωρευμένη ενέργεια από τα σημεία τσάκρα του σώματος συνδυάζοντας θερμές ηφαιστειακές 
                πέτρες και αιθέρια έλαια. 
                <br><br>
                <span class="main-label-small">CANDLE MASSAGE </span><br>
                Το μασάζ γίνεται σε όλο το σώμα με λιωμένο κερί μοναδική και πρωτότυπη αίσθηση χαλάρωσης σε συνδυασμό με αιθέρια έλαια που σας ταξιδεύουν . 
                Το μασάζ προσφέρι βαθιά ενυδάτωση που θα διαρκέσει για μέρες .
                <br><br>
                <span class="main-label-small">ORIENTAL MASSAGE</span><br>
                Ολιστικό μασάζ σώματος εμπνευσμένο απο την φύση της  ανατολής συνδυάζοντας ξύλινα sticks και ζεστά πουγκιά  απο άμμο με μυρωδιά απο 
                εσπεριδοειδή για τόνωση , αναζωογόνηση και χαλάρωση . 
                <br><br>
                <span class="main-label-small">PHUKET MASSAGE</span><br>
                Μια θεραπεία με σκοπό τη μυική χαλάρωση και  τη ψυχική ευεξία . Απολαύστε το ιδιαίτερο μασάζ  μας που συνδιάζει ξύλινα στίκς και ζεστές πετσέτες 
                που ευωδιάζουν αιθέρια έλαια για μείωση του άγχους , των μυικών πόνων και περαιτέρω χαλάρωση  .
                <br><br>
                <span class="main-label-small">EXOTIC CEYLON MASSAGE</span><br>
                Ένα βαθύ χαλαρωτικό μασάζ με θερμαινόμενα κοχύλια . Τα ζεστά κοχύλια που γλιστρούν πάνω στο σώμα, σας  προσφέρουν μια ιδιαίτερα  χαλαρωτική 
                αίσθηση. Το exotic Ceylon  χρησιμοποιείται για μείωση του στρες και προωθεί  τη χαλάρωση.  Εξαιρετικά ιδιαίτερο μασάζ που σας «ταξιδεύει» στα βάθη
                της θάλασσας με τη χρήση των κοχυλιών. Η εμπειρία είναι μοναδική .
                <br><br>
                <span class="main-label-small">MYSTERIOUS MASSAGE</span><br>
                Ένα εξωτερικό μασάζ που συνδυάζει ήπιες διατάσεις με τη χρήση ενός μεταξωτού φουλαριού και μυική χαλάρωση με τη χρήση ξύλινων στικς για 
                απόλυτη ευεξία στο σώμα .
                <br><br>
                <span class="main-label">Spa Rituals</span><br>
                <span class="main-label-small">Thalgo Sea & Senses Hot Stone Full Body & Face Ritual - 2 hrs </span><br>
                Θεραπεία προσώπου και σώματος με ζεστές πέτρες για την απόλυτη χαλάρωση και ευεξία. Η απολέπιση στο πρόσωπο θα απομακρύνει τα νεκρά 
                κύτταρα και θα βοηθήσει τα ενεργά συστατικά της μάσκας από άλγη να εισχωρήσουν στα βαθύτερα στρώματα του δέρματος. Κατά την διάρκεια της 
                μάσκας γίνεται μασάζ με ζεστές πέτρες στα πόδια. Ζεστές ηφαιστειακές πέτρες θα τοποθετηθούν σε συγκεκριμένα σημεία του σώματος αφού γίνει η 
                απολέπιση για χαλάρωση και αποτοξίνωση. Ένα χαλαρωτικό μασάζ με ζεστές πέτρες σε όλο το σώμα θα ταξιδέψει όλες τις αισθήσεις στον κόσμο 
                της χαλάρωσης.
                <br><br>
                <span class="main-label-small">Thalgo Polynesia Spa Ritual - 1 hr 15 min</span><br>
                Εμπνευσμένο από τα 4 πιο όμορφα νησιά που κρύβονται στον Ειρηνικό Ωκεανό, η πολυτελής αύτη θεραπεία ξεκινά με χαλαρωτικό ποδόλουτρο στα 
                γαλάζια νερά της λίμνης Mahini. Το ταξίδι συνεχίζει με το EXCOTIC ISLAND BODY SCRUB  ένα απαλό πίλινγκ σώματος με μυρωδιά ταίτιανης βανίλιας 
                αναμιγμένο με άσπρη άμμο από τα νησιά BORA-BORA, θαλασσινό αλάτι και θρυμματισμένα κέλυφοι από ινδοκάρυδο για απαλό και μεταξένιο δέρμα.
                Με ρυθμικές κινήσεις Πολυνησιακής μουσικής γίνεται LOMI-LOMI μασάζ σε συνδυασμό με ζεστά πουγκιά για χαλάρωση των μυών. Το Polynesian 
                secret oil θα αφήσει στο δέρμα σας μια διακριτική μυρωδιά και χρυσαφένια υφή.
                <br><br>
                <span class="main-label-small">Thalgo Indocéane Spa Ritual - 1hr 20 min</span><br>
                Ένα ταξίδι στον κόσμο των αισθήσεων ξεκινά από όλες της Ηπείρους. Απολέπιση σώματος με το SWEET AND SAVORY BODY SCRUB με συστατικά 
                παρμένα από την μεσόγειο θα αφήσουν το δέρμα βελουδένιο και έτοιμο για το ayurvedic μασάζ με ζεστό λάδι και ινδικές τεχνικές μασάζ. Το τελευταίο 
                στάδιο στο ταξίδι είναι η περιτύλιξη ζεστής κρεμώδης μάσκας σώματος για την  απόλυτη χαλάρωση και θρέψη του δέρματος.
                <br><br>
                <span class="main-label-small">Escape to Provence Face and Body - 1hr 20 min</span><br>
                Η φυσική αλχημεία της θάλασσας και αιθέριων ελαίων από φυτά θα ενεργοποιήσει της λειτουργίες του δέρματος αφήνοντας το έντονα ενυδατωμένο, 
                απαλό και λαμπερό. Το οργανικό έλαιο λεβάντας θα ηρεμήσει το μυαλό και θα χαλαρώσει το σώμα από το καθημερινό στρες.
            </p>
        </div>
    </div>
    <div class="row" style="height: 30px;"></div>