<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Gallery
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row main-text">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.999730843406574.1073741835.837296006316726&type=1&l=58c961a4f7">
                <img src="assets/images/gallery/beauty-secret-gallery.jpg"><br>
                Beauty Secret
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.837311616315165.1073741830.837296006316726&type=1&l=9f53094e88">
                <img src="assets/images/gallery/womens-gallery.jpg"><br>
                Women Creations
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.837317722981221.1073741831.837296006316726&type=1&l=5a34ad3ed0">
                <img src="assets/images/gallery/mens-gallery.jpg"><br>
                Men Creations
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/pg/beautysecretcenterltd/photos/?tab=album&album_id=1947107118668937">
                <img src="assets/images/gallery/efb-gallery.jpg"><br>
                One Med MPL
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1067914006588257.1073741836.837296006316726&type=1&l=4d6b43092b">
                <img src="assets/images/gallery/eye-tattoo-gallery.jpg"><br>
                Eye Tattoo
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1391441250902196.1073741839.837296006316726&type=1&l=3cdd3611b9">
                <img src="assets/images/gallery/eye-gallery.jpg"><br>
                Eyelashes / Eyebrow / Lash Curla
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.993840690662256.1073741833.837296006316726&type=1&l=1982f4d7ae">
                <img src="assets/images/gallery/nails-gallery.jpg"><br>
                Nails
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1686302128082772.1073741847.837296006316726&type=1&l=7b74c77122">
                <img src="assets/images/gallery/i-beauty-gallery.jpg"><br>
                I-Beauty
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.993838793995779.1073741832.837296006316726&type=1&l=2429776791">
                <img src="assets/images/gallery/makeup-gallery.jpg"><br>
                Makeup
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1588936581152661.1073741844.837296006316726&type=1&l=1fbcbc18dd">
                <img src="assets/images/gallery/detox-gallery.jpg"><br>
                Detox
                <br><br>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Gallery
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row main-text">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.999730843406574.1073741835.837296006316726&type=1&l=58c961a4f7">
                <img src="assets/images/gallery/beauty-secret-gallery.jpg"><br>
                Beauty Secret
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.837311616315165.1073741830.837296006316726&type=1&l=9f53094e88">
                <img src="assets/images/gallery/womens-gallery.jpg"><br>
                Γυναικείες Δημιουργίες
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.837317722981221.1073741831.837296006316726&type=1&l=5a34ad3ed0">
                <img src="assets/images/gallery/mens-gallery.jpg"><br>
                Ανδρικές Δημιουργίες
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/pg/beautysecretcenterltd/photos/?tab=album&album_id=1947107118668937">
                <img src="assets/images/gallery/mpl-gallery.jpg"><br>
                One Med MPL
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1067914006588257.1073741836.837296006316726&type=1&l=4d6b43092b">
                <img src="assets/images/gallery/eye-tattoo-gallery.jpg"><br>
                Tattoo Φρυδιών
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1391441250902196.1073741839.837296006316726&type=1&l=3cdd3611b9">
                <img src="assets/images/gallery/eye-gallery.jpg"><br>
                Τοποθέτηση Βλεφαρίδας / Lash Curla
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.993840690662256.1073741833.837296006316726&type=1&l=1982f4d7ae">
                <img src="assets/images/gallery/nails-gallery.jpg"><br>
                Νύχια
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1686302128082772.1073741847.837296006316726&type=1&l=7b74c77122">
                <img src="assets/images/gallery/i-beauty-gallery.jpg"><br>
                I-Beauty
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.993838793995779.1073741832.837296006316726&type=1&l=2429776791">
                <img src="assets/images/gallery/makeup-gallery.jpg"><br>
                Μακιγιάζ
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a target="_blank" href="https://www.facebook.com/media/set/?set=a.1588936581152661.1073741844.837296006316726&type=1&l=1fbcbc18dd">
                <img src="assets/images/gallery/detox-gallery.jpg"><br>
                Αποτοξίνωση Σώματος
                <br><br>
            </a>
        </div>
    </div>
</div>
<div class="row" style="height: 30px;"></div>