<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Skin Care
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            <span class="main-label">Waxing</span><br><br>
            <span class="main-label-small">Women</span><br>
            Waxing - full legs and arms<br>
            Waxing - full legs, arms, upper lip<br>
            Waxing - full legs, arms, upper lip, under arms, bikini line<br>
            Waxing - full legs<br>
            Waxing - half legs<br>
            Waxing - half legs and arms<br>
            Waxing - half legs, bikini Line<br>
            Waxing - full legs, Bikini Line<br>
            Waxing – arms<br>
            Waxing - under arms<br>
            Eyebrow Shaping <br>
            Eyebrow Cleaning <br>
            Upper Lip<br>
            Waxing Belly or Back<br>
            Waxing - Bikini Line<br>
            Waxing - Brazilian Bikini<br>
            Face
            <br><br>
            <span class="main-label-small">Men</span><br>
            Back<br>
            Chest<br>
            Full Legs<br>
            Arms
            <br><br>
            <span class="main-label">Eyelashes / Eyebrow</span><br>

            Eyelashes painting<br>
            Eyebrow painting<br>
            Eyebrow – Tattoo (eyebrow hair-hair design)<br>
            Eyelashes installation<br>
            Eyelashes installation (3D/4D/5D)<br>
            Eyelashes installation with strass (Swarovski)<br>
            Eyelashes maintenance<br>
            Lash Curla
            <br><br>
            <span class="main-label">FACIALS</span><br>
            Facials involve a variety of skin treatments, like steam, exfoliation, extraction, creams, lotions, facial
            masks, peels, and massage. Facials are used for
            general skin health as well as for specific skin conditions. Depending on the season and your overall
            condition, your skin changes and its needs
            different treatments. SM Beauty Secret uses Thalgo products for facial treatments. Dehydration, sensitivity
            and high skin colour, tightness,
            oiliness - all problems have a Thalgo tailor-made facial solution.
            <br><br>
            <span class="main-label-small">SOURCE MARINE RITUAL - 60 MIN</span> <br>
            This Ultra hydrating facial combats dehydration lines and improves skin texture for a touchable smooth,
            plump and radiant complexion thanks to
            the double action infusion mask.
            <br><br>
            <span class="main-label-small">PURE FRESHNESS RITUAL - 60 MIN</span><br>
            A rebalancing refuge for oily problem skin. A pure natural seaweed cleansing mask is applied, known for its
            anti-bacterial and anti-acne properties
            leaving your skin matte, clean and perfectly balanced.
            <br><br>
            <span class="main-label-small">COCOONING MARINE RITUAL-  60 MIN</span> <br>
            The ideal treatment for sensitive, fragile or reactive skin. After a calming welcome massage to immerse you
            in an aquatic cocoon, your skin is gently
            cleansed and refreshed thanks to the infusion of calming marine ingredients. Your skin is left fresh and
            luminous, with redness visibly reduced.
            <br><br>
            <span class="main-label-small">ORGANIC TER AND MER FACIAL RITUAL -  75 min</span><br>
            In a pure alchemy of sea and plant essential oils for a return to skin essentials: hydrating, soothing,
            regenerating. This facial starts with a welcome
            relaxing back massage.
            <br><br>
            <span class="main-label-small">BRIGHTENING /REJUVENATING CARE - 60 MIN </span> <br>
            This facial treatment effectively reduces pigmentation marks and age spots for a flawless complexion. With
            Clear Expert complex
            "collagen-plumping" action and Vitamin C to reduce melanin synthesis, the skin is a brighter, plumped with a
            perfectly clear complexion
            <br><br>
            <span class="main-label-small">COLLAGEN SMOOTH FACIAL Incorporating Lip & Eye area - 60 MIN</span><br>
            Give your skin a Collagen boost and correct the signs of ageing as they appear with this facial designed for
            first wrinkles, with instant anti-ageing
            result. Pure marine plants will infused to your skin leaving it soft and radiant, wrinkles are visibly
            reduced and the skinis very smoothed.
            <br><br>
            <span class="main-label-small">HYALURONIC FILLER FACIAL - 60 MIN</span><br>
            Correct the signs of ageing as they appear, with this smoothing and filling facial designed for age 35+ or
            for more pronounced wrinkles. Targeted
            strips infused with Hyaluronic Acid Microspheres are applied to wrinkles and areas of concern to plump out
            lines and reduce their appearance,
            while a Hyaluronic Mask is applied to the rest of the face to smooth the skin, leaving your complexion
            glowing.
            <br><br>
            <span class="main-label-small">SILICIUM SUPER LIFT FACIAL - 75 min</span> <br>
            Dare to defy time with this super lift facial, designed to combat all the signs of ageing at 40+ (loss of
            firmness, pronounced wrinkles). Your skin is
            intensely exfoliated and smoothed to optimise the penetration of the anti-ageing ingredients. An expert
            anti-ageing massage lifts the features,
            before a super-lifting mask is applied to fill deeper wrinkles and lift and contour the face and neck. After
            just one treatment you will already look 5
            years younger. Your complexion will glow and lines will be less noticeable, your skin firmer.
            <br><br>
            <span class="main-label-small">ULTIMATE TIME SOLUTION RITUAL - 90 MIN</span> <br>
            The manual face lift with a revolutionary massage technique, EnergiLift, to target and tighten individual
            facial muscles to visibly
            lift the entire face, without resorting to surgery. Ultimate Serum, a concentrate of powerful actives, is
            applied to the skin with our
            expert EnergiLift manual face lifting massage technique. An exceptional cellulose mask is applied, and a
            hand and arm massage is
            carried out while it acts on the skin.
            <br><br>


            <span class="main-label-small">AGE SUMMUM / The Treatment that targets signs of ageing -  50 MIN</span> <br>
            The Age Summum Treatment is the alternative to plastic surgery for treating immediately signs of ageing. A
            genuine concentration of 56 Biological
            active ingredients from Cellular Life Complex , hyaluoronic acid and Pure vitamin C: stimulates the
            synthesis of collagen and provides antioxidant
            action for exceptional radiance.and cell regeneration together with a specific anti-ageing massage technique
            that helps the precious active
            ingredients serum to penetrate deep down into the skin. The skin appears firmer wrinkles and fines lines are
            diminished, facial features
            rejuvenated and radiant. Skin texture is refined and the skin recovers a youthful radiant glow.Age Summum
            Treament is ideal for all women who
            wish to appear younger than their age.
            <br><br>
            <span class="main-label-small">
            AROMATIC -  60 MIN</span> <br>
            Α true moment of relaxation and serenity with Essential Oils and natural plant extracts. The Beauty
            Therapist uses specific massage techniques
            to beautify your skin and release tension leaving the complexion glowing and fresh. A unique personalised
            treament for all
            skin types
            <br><br>
            <span class="main-label-small">LIFTOSOME - 60 MIN</span> <br>
            The modeling effect and the gentle heat of the Thermolift mask and the elasticity boosting Pro-Collagen
            concentrate rejuvenates and tightens the
            skin, restore radiance and disperse signs of ageing and fatigue. The mask diffuses the active ingredients
            and provides new energy to regenerate
            your skins firmness. The massage at the end of the treatment with the Anti-Age Serum smoothes the feature
            <br><br>
            <span class="main-label-small">HYDRA PEEL - HYDRABRASSION - 45 MIN</span> <br>
            Is an alternative therapy to chemical exfoliation and at the same time intense hydration of the skin without
            causing the side effects of a chemical
            peeling . It is designed and adapted for sensitive skin contains natural celia losic particles to eliminate
            dead cells . ( allowing the creation of
            new ones ) and papaya extract to cleave the cell bound linkage by enzymatic action . The hydra peel -
            hydrabrasion leaves the skin free of aging
            marks and brown or sun spots.

            <br><br>
            <span class="main-label">ANTI-AGEING EYE CARE</span>

            <br><br>
            <span class="main-label-small">THALGO EYE EXPERT -  30 λεπ.</span> <br>
            Αυτή η θεραπεία συνδυάζει χαλάρωση και αποτελεσματικότητα! Η eye massage mask σε συνδυασμό με τα κατάλληλα προϊόντα
            θα βοηθήσει στο ξεφούσκωμα των ματιών , στην μείωση τω μαύρων κύκλων καθώς και στην λείανση των γραμμών και των
            ρυτίδων αφήνοντας τα μάτια σας με ένα λαμπερό βλέμμα.



        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Αισθητική
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            <span class="main-label-small">Αποτρίχωση</span>
            <br><br>
            <span class="main-label-small">Γυναίκες</span><br>
            Πόδια ολόκληρα και χέρια<br>
            Πόδια ολόκληρα, χέρια, μουστάκι<br>
            Πόδια ολόκληρα, χέρια, μουστάκι, μπικίνι, μασχάλες<br>
            Πόδια ολόκληρα<br>
            Πόδια μισά<br>
            Πόδια μισά και χέρια<br>
            Πόδια μισά και μπικίνι<br>
            Πόδια ολόκληρα και μπικίνι<br>
            Χέρια<br>
            Μασχάλες<br>
            Σχηματισμός φρυδιού<br>
            Συντήρηση φρυδιών<br>
            Αποτρίχωση άνω χείλος<br>
            Πλάτη ή κοιλιά<br>
            Μπικίνι γραμμή<br>
            Βραζιλιάνικι μπικίνι<br>
            Πρόσωπο
            <br><br>
            <span class="main-label-small">Άντρες</span><br>
            Πλάτη<br>
            Στήθος<br>
            Πόδια<br>
            Χέρια
            <br><br>

            <span class="main-label-small">Βλεφαρίδες / Φρύδια</span><br>
            Βάψιμο βλεφαρίδων<br>
            Βάψιμο φρυδιών<br>
            Tattoo φρυδιών (σχεδιασμός τρίχα-τρίχα)<br>
            Τοποθέτηση βλεφαρίδας<br>
            Τοποθέτηση βλεφαρίδας 3D / 4D / 5D<br>
            Τοποθέτηση βλεφαρίδας με στράς (swarovski)<br>
            Συντήρηση βλεφαρίδας<br>
            Lash curla
            <br><br>
            <span class="main-label-small">Θεραπείες Προσώπου</span><br>
            Οι θεραπείες προσώπου που προσφέρονται έχουν σαν στόχο τον βιολογικό καθαρισμό, την ενυδάτωση, απολέπιση,
            την ενίσχυση και ανανέωση των
            κυττάρων του προσώπου, χαρίζοντας στο δέρμα θρέψη και μία βελούδινη και υγιή όψη. Οι ανάγκες του δέρματος
            αλλάζουν αναλόγως εποχής. Το
            Beauty Secret center χρησιμοποιεί εξατομικευμένες θεραπείες από την THALGO που μπορούν να δώσουν λύση στα
            προβλήματα που αντιμετωπίζει
            το δέρμα όπως η αφυδάτωση, η ευαισθησία , η υπερχρωμία και η λιπαρότητα
            <br><br>
            <span class="main-label-small">SOURCE MARINE RITUAL -  60 MIN </span><br>
            Αυτή η έντονα ενυδατική θεραπεία καταπολεμά τις γραμμές αφυδάτωσης και βελτιώνει την ύφη του δέρματος
            αφήνοντας το λείο ,απαλό και λαμπερό
            χάρη στη μάσκα έκχυσης ενεργών συστατικών.
            <br><br>
            <span class="main-label-small">PURE FRESHNESS RITUAL -   60 MIN</span><br>
            Θεραπεία εξισορρόπησης της λιπαρότητας. Η φυσική καθαριστική μάσκα με άλγη που χρησιμοποιείται στη θεραπεία
            έχει αντιβακτηριδιακές ιδιότητες
            και θα αφήσει το δέρμα καθαρό, ματ και τέλεια ισορροπημένο.
            <br><br>
            <span class="main-label-small">COCOONING MARINE RITUAL-  60 MIN </span><br>
            Ιδανική θεραπεία για ευαίσθητο /αντιδραστικό δέρμα. Μετά από ένα απαλό καθαρισμό και μια ήπια απολέπιση το
            δέρμα θα αναζωογονηθεί.
            Τα ενεργά θαλάσσια συστατικά που θα διοχετευτούν με την βοήθεια της μάσκας στο δέρμα θα το αφήσουν απαλό,
            λείο με ορατά μειωμένη ερυθρότητα.
            <br><br>
            <span class="main-label-small">ORGANIC TER AND MER FACIAL RITUAL -  75 min</span><br>
            Η φυσική αλχημεία της θάλασσας και αιθέριων ελαίων από φυτά θα ενεργοποιήσει της λειτουργίες του δέρματος
            αφήνοντας το έντονα ενυδατωμένο,
            απαλό και λαμπερό. Η θεραπεία αρχίζει με χαλαρωτικό μασάζ πλάτης
            <br><br>
            <span class="main-label-small">BRIGHTENING /REJUVENATING CARE - 60 MIN </span> <br>
            Ιδανική θεραπεία προσώπου για μείωση δυσχρωμιών, γεροντικών κηλίδων και πανάδων. Το ενεργό σύμπλεγμα CLEAR
            EXPERT και η βιταμίνη C θα
            μειώσουν την σύνθεσή μελανίνης και θα ενεργοποιήσουν την σύνθεσή κολλαγόνου και θα δώσουν στο δέρμα την
            χαμένη του λάμψη και φωτεινότητα.
            <br><br>
            <span class="main-label-small">COLLAGEN SMOOTH FACIAL Incorporating Lip & Eye area - 60 MIN</span><br>
            Η θεραπεία αύτη θα ενισχύσει στο δέρμα σας την σύνθεση κολλαγόνου και θα μειώσει την εμφάνιση των πρώτων
            ρυτίδων . Τα αγνά θαλάσσια ενεργά
            συστατικά που χρησιμοποιούνται στη θεραπεία θ’ αφήσουν το δέρμα απαλό, λείο και μ’ εμφανή μειωμένες τις
            ρυτίδες έκφρασης και αφυδάτωσης.
            <br><br>
            <span class="main-label-small">HYALURONIC FILLER FACIAL - 60 MIN</span><br>
            Διορθώστε τα σημάδια της γήρανσης με την θεραπεία αύτη που απευθύνεται στ’ άτομα ηλικίας 35+. Οι
            εμποτισμένες λωρίδες και η μάσκα με
            υαλουρονικό οξύ που θα τοποθετηθούν τοπικά στις ρυτίδες αλλά και σ’ όλο το πρόσωπο θα βοηθήσουν στην μείωση
            του βάθους των γραμμών
            και ρυτίδων, καθώς και στην λείανση τους αφήνοντας το δέρμα λαμπερό και νεανικό.
            <br><br>
            <span class="main-label-small">SILICIUM SUPER LIFT FACIAL - 75 min</span> <br>
            Τολμήστε να προκαλέσετε τον χρόνο με αυτή την ξεχωριστή θεραπεία που έχει σχεδιαστεί για να καταπολεμήσει τα
            σημάδια γήρατος που
            δημιουργούνται στην ηλικία των 40 χρονών. Η εισχώρηση των ενεργών αντι-γηραντικών συστατικών στο δέρμα και η
            εξειδικευμένη τεχνική μασάζ που
            χρησιμοποιείται στην θεραπεία αύτη θα δώσουν στο δέρμα την χαμένη του ελαστικότητα , θα μειώσουν το βάθος
            των ρυτίδων καθώς και την σύσφιξη
            του περιγράμματος του προσώπου .Μετά από την πρώτη κιόλας θεραπεία το δέρμα θα δείχνει 5 χρόνια νεότερο ,
            πιο λαμπερό και πιο σφριγηλό.
            <br><br>
            <span class="main-label-small">ULTIMATE TIME SOLUTION RITUAL - 90 MIN</span> <br>
            Εξαιρετική θεραπεία για σύσφιξη του προσώπου με την επαναστατική τεχνική μασάζ που στοχεύει στην σύσφιξη των
            μυών του προσώπου με
            βαθύ μασάζ, χρησιμοποιώντας ορρό πλούσιο σε συμπυκνωμένα ενεργά συστατικά. Η πρωτοποριακή μάσκα κυτταρίνης
            που θα εφαρμοστεί στο
            πρόσωπο θα ενισχύσει την δράση του μασάζ
            <br><br>
            <span class="main-label-small">AGE SUMMUM / Η ΚΟΡΥΦΑΙΑ ΑΝΤΙΓΗΡΑΝΤΙΚΗ ΠΕΡΙΠΟΙΗΣΗ ΠΟΥ ΓΥΡΙΖΕΙ ΠΙΣΩ ΤΟΝ ΧΡΟΝΟ -  50 MIN</span> <br>
            Η GUINOT δημιούργησε την κορυφαία αντιγηραντική περιποίηση AGE SUMMUM που συνδυάζει τελευταίας τεχνολογίας φόρμουλες
            μαζί με αποκλειστικό αντιγηραντικό μασάζ προσώπου. Τα 56 ενεργά βιολογικά συστατικά και η καθαρή βιταμίνη C υψηλής
            συμπύκνωσης σε συνδυασμό με το υαλουρονικό οξύ και το φυτικό DNA κάνουν το δέρμα να φαίνεται εντυπωσιακά πιο νεανικό
            αμέσως μετά το τέλος της περιποίησης!!
            <br><br>
            <span class="main-label-small">AROMATIC / ΠΕΡΙΠΟΙΗΣΗ ΟΜΟΡΦΙΑΣ ΜΕ ΑΙΘΕΡΙΑ ΕΛΑΙΑ -  60 MIN</span> <br>
            Η GUINOT χρησιμοποιεί τα δώρα της φύσης και δημιουργεί αιθέρια έλαια και φυτικά συμπυκνώματα χαρίζοντας στην επιδερμίδα
            την ομορφιά που της αξίζει. Τα αιθέρια έλαια σας ταξιδεύουν στον κόσμο των αισθήσεων και σας προσφέρουν στιγμές μοναδικής
            χαλάρωσης και ομορφιάς.
            <br><br>
            <span class="main-label-small">LIFTOSOME / ΠΕΡΙΠΟΙΗΣΗ ΣΥΣΦΙΞΗΣ ΚΑΙ ΑΝΑΖΩΟΓΟΝΗΣ - 60 MIN</span> <br>
            Η GUINOT χρησιμοποιεί τα δώρα της φύσης και δημιουργεί αιθέρια έλαια και φυτικά συμπυκνώματα χαρίζοντας στην επιδερμίδα
            την ομορφιά που της αξίζει. Τα αιθέρια έλαια σας ταξιδεύουν στον κόσμο των αισθήσεων και σας προσφέρουν στιγμές μοναδικής
            χαλάρωσης και ομορφιάς.
            <br><br>
            <span class="main-label-small">HYDRA PEEL - HYDRABRASSION - 45 MIN</span> <br>
            Είναι μια εναλλακτική λύση στη χημική απολέπιση και παράλληλα στην έντονη ενυδάτωση του δέρματος χωρίς να προκαλεί τις
            παρενέργειες ενός χημικού πήλινγκ . Σχεδιασμένη και προσαρμοσμένη για το ευαίσθητο δέρμα. Περιέχει φυσικά σωματίδια κυτταρίνης
            για την εξάλειψη των νεκρών κυττάρων ( επιτρέποντας τη δημιουργία νέων ) και εκχύλισμα παπάγιας για να διασπάσει τη σύνδεση
            μεταξύ των κυττάρων μέσω ενζυματικής δράσης . Αφήνει το δέρμα φωτεινό και απαλλαγμένο απο σημάδια γήρανσης και κηλίδων.
            <br><br>
            <span class="main-label">Θεραπείες ματιού</span>
            <br><br>
            <span class="main-label-small">THALGO EYE EXPERT -  30 min</span><br>
            This ultra-relaxing treatment begins with a cleanse and gentle massage of the eye area using a specific eye concentrate.
            The Thalgo Eye Massage Mask machine is then used in conjunction with the appropriate eye products and either a warm or cold
            gel mask underneath to massage the eye contour area, reducing puffiness and dark circles and gently smoothing out any
            lines or wrinkles. The result is an instant rejuvenation of the eye contour area.


        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>