<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Alternative Treatments
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            <span class="main-label-small">REIKI</span><br> Reiki is a Japanese technique, energy directed, for stress reduction
            and relaxation that promotes healing. Reiki is a state of mind. It comes from love, compassion and kindness.
            Energy flows through the practitioner’s body and into the person receiving the treatment. It is administered
            by "laying on hands" and is based on the idea that an unseen "life force energy" flows through us and is what
            causes us to be alive. The body, emotional state and chakras are all taken into account during a healing session.
            The person administering often times gets “feed-back” images of the body while in the session that might be communicating
            ailment or illness in the body that requires extra care. The person receiving the treatment may not even be aware
            of these problematic areas.
            <br><br>
            <span class="main-label-small">BOWEN (The Holistic therapy that resets the body to heal itself)</span><br> The
            Bowen Technique is a remedial, hands-on therapy that is applied using very gentle pressure. The practitioner
            uses thumbs and fingers on precise points of the body to perform Bowen’s unique sets of rolling-type moves which
            stimulate the muscles and soft tissue of the body. There is no manipulation or adjustment of hard tissue and
            no force is used. The experience of a treatment is gentle, subtle and relaxing. The Bowen Technique prompts the
            body to reset, repair and balance itself and clients report the experience of pain relief, improvement of function
            and recovery of energy. The Bowen technique is recommended for all family members, from newborn to the aged,
            with acute or chronic conditions. It also offers great relief for athletes, pregnant ladies and people with special
            needs. It addresses the body on all levels: physical, chemical, mental and emotional.


        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Εναλλακτικές θεραπείες
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            <span class="main-label-small">REIKI</span><br> 
            Το Ρέικι είναι ένα σύστημα φυσικής θεραπείας που ανακαλύφθηκε στις αρχές του 20ου αιώνα από τον Ιάπωνα  θεραπευτή Δρ Μικάο Ουσούι. 
            Ο Δρ Οσούι διάλεξε τον όρο Ρέικι που στα ιαπωνικά σημαίνει «παγκόσμια ζωτική  ενέργεια». Το Ρέικι είναι ένα απόλυτα ασφαλές θεραπευτικό σύστημα
            και μπορεί να εφαρμοστεί είτε μόνο του είτε σε συνδυασμό με άλλες μεθόδους της κλασσικής ή συμπληρωματικής ιατρικής, όπως την ομοιοπαθητική, 
            ρεφλεξολογία, σιάτσου, ανθοθεραπεία και άλλες μεθόδους. Το Ρέικι προκαλεί βαθιά ψυχοσωματική χαλάρωση ανακουφίζοντας από την ένταση και το 
            στρες. Βελτιώνει τον ύπνο, απαλύνει  πόνους,μυικές εντάσεις και αυξάνει τη ζωτικότητα. Διαλύει τα ενεργειακά μπλοκαρίσματα και αποκαθιστά την 
            ομαλή ροή της ενέργειας μέσα στο σώμα. Η φυσική αυτή θεραπεία διεγείρει τους αυτοθεραπευτικούς μηχανισμούς του οργανισμού και προωθεί την 
            αποτοξίνωση των ιστών και των οργάνων του σώματος. Ενισχύει την αγάπη, την ανεκτικότητα και την καλοσύνη για όλα τα όντα.
            <br><br>
            <span class="main-label-small">ΤΕΧΝΙΚΙ BOWEN</span><br> 
            Η μέθοδος Bowen είναι μία ολιστική ήπια θεραπευτική μέθοδος με δυναμικά αποτελέσματα. Εφαρμόζεται με ασφάλεια σε ανθρώπους κάθε ηλικίας,
            από νεογνά μέχρι ηλικιωμένους, σε έγκυους, αθλητές και σε άτομα με ειδικές ανάγκες ανεξάρτητα με τη φυσική τους κατάσταση.Χρησιμοποιείται με 
            επιτυχία πάνω από 50 χρόνια για την αντιμετώπιση πολλών δυσλειτουργιών του σώματος. Θεωρείται ως μία από τις καλύτερες αγωγές και στον τομέα 
            της πρόληψης γιατί διεγείρει και ενισχύει την αυτοθεραπευτική ικανότητα του οργανισμού με εντυπωσιακά δυναμικό τρόπο.
        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>