.mainBg {
    background: url('../assets/images/template/home_background.png');
    background-repeat: no-repeat;
    background-position: top center;
    
}

.menuButtons {
    background: url('../assets/images/template/menu_buttons.png');
    background-size: 69px 72px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    vertical-align: middle;
    width:69px;
    height: 72px;
    font-size:90%;
}

.menuButtonsSmall {
    background: url('../assets/images/template/menu_buttons.png');
    background-size: 42px 44px;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    vertical-align: middle;
    width:42px;
    height:44px;
    font-size:70%;
}

.list-inline {
   display: flex;
   justify-content: center;
   padding: 0 !important;
   margin: 0 !important;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

 .munuDiv{
     height: 25px;
 }

 .col-centered{
    float: none;
    margin: 0 auto;
}

.main-text{
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main-text a:link, a:active, a:visited {
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main-text a:hover {
    color: white;
    text-decoration: underline;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.main-text a:active:hover {
    color: white;
    text-decoration: underline;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.main-label {
    color: #b0a18e;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 20px;
    font-weight: normal;
}

.main-label-small {
    color: #b0a18e;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.footer-menu {
    font-size: 11px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.footer-menu a:link, a:active, a:visited{
    font-size: 11px;
    color: white;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.footer-menu a:hover{
    font-size: 11px;
    color: white;
    text-decoration: underline;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}