<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Nails
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Beauty Secret Center offers various levels of manicure and pedicures treatments. Our customers can select an express treatment or a full nail service 
            treatment, Polish or Gel Polish.Gel nail polish is a special formula that is cured under ultraviolet lamps. This gel formula last at least two weeks without 
            chipping, making them much more practical than regular manicures. Similarly, the gels are thought to be gentler than other overlays, which help
            maintain strong and healthy natural nails.
        </p>
        <ul>
            <li>Apply Artificial Nails</li>
            <li>Nails’ extension with gel</li>
            <li>Gel Nail Manicure</li>
            <li>Gel Nail Manicure and Nail art</li>
            <li>French Manicure</li>
            <li>Spa Manicure</li>
            <li>Pedicure Treatment</li>
            <li>Pedicure Treatment - keratolysis</li>
            <li>Pedicure Treatment - Gel Nail</li>
            <li>Full Treatment - Gel Nail  Manicure and Pedicure Gel</li>
            <li>Full Treatment - Gel Polish / Hand nails and Pedicure Gel</li>
            <li>Express Gel Polish - Hand nails</li>
            <li>Express Gel Polish - Toe nails</li>
            <li>Hand nails painting</li>
            <li>Toe nails painting</li>
            <li>Men's Manicure</li>
            <li>Men's Pedicure</li>
            <li>Gel Removal / Hand nails painting</li>
            <li>Gel Removal</li>
        </ul>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
        <div class="row main-label">
                Νύχια
        </div>
        <div class="row" style="height: 30px;"></div>
        <div class="row">
            <p>
                Αν ψάχνετε για την καλύτερη εμπειρία μανικιούρ και πεντικιούρ, τότε έχετε βρει το σωστό μέρος. Στο Beauty Secret center παρέχουμε θεραπείες νυχιών, 
                χρησιμοποιώντας προϊόντα υψηλής ποιότητας.
            </p>
            <ul>
                <li>Τοποθέτηση ψεύτικων νυχιών</li>
                <li>Επέκταση νυχιών με gel</li>
                <li>Μανικιούρ gel</li>
                <li>Μανικιούρ gel , nail art</li>
                <li>Γαλλικό μανικιούρ gel</li>
                <li>Μανικιούρ σπά</li>
                <li>Θεραπεία πεντικιούρ</li>
                <li>Θεραπεία πεντικιούρ - κερατόλυσης</li>
                <li>Θεραπεία πεντικιούρ - gel nail</li>
                <li>Πλήρης θεραπεία - μανικιούρ gel nail, πεντικιούρ gel</li>
                <li>Πλήρης θεραπεία - gel polish / Νύχια χεριών , πεντικιούρ gel</li>
                <li>Express gel polish - νύχια χεριών</li>
                <li>Express gel polish - νύχια ποδιών</li>
                <li>Βάψιμο - νύχια χεριών</li>
                <li>Βάψιμο - νύχια ποδιών</li>
                <li>Μανικιούρ για άντρες</li>
                <li>Πεντικιούρ για άντρες</li>
                <li>Αφαίρεση gel - βάψιμο / νύχια χεριών</li>
                <li>Αφαίρεση gel</li>
            </ul>
        </div>
    </div>
    <div class="row" style="height: 30px;"></div>