<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        M CEUTIC - Face Treatment
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            The first professional cosmetic range inspired by the cosmetic medicine with the powerfull complex Marin
            Mesolift
            <br><br>
            A pioneering line of Marine cosmetics , based on innovative scientific research and the cooperation of skin
            specialists, included three known dermatologists and a university professor have created, Marin Mésolift.
            <br><br>
            A TRUE BIO - REGENERATIVE INNOVATION
            <br><br>
            Directly inspired by antiaging mesotherapy, the Marin Mesolift complex enhances cell metobolism and
            mainntains
            youthfalness of the skin
            <br><br>
            Τhe Mésolift Marin comes from an exclusive composition :
            <br><br>
        </p>
        <ul>
            <li>34 revitalizing nutrients</li>
            <li>2 B vitamines , 14 metals , 18 amino acids</li>
            <li>Hyaluronic acid</li>
            <li>And a cell nucleotide</li>
        </ul>
        <p>
            <br>
            Additionaly it is a unique innovation that enhaces the penetration of the ingredients into a deep level
            within
            the skin
        </p>

    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        M CEUTIC - Θεραπεία Προσώπου
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Η πρώτη επαγγελματική καλλυντική σειρά εμπνευσμένη απο την ιατρική με το ισχυρό σύμπλεγμα Marin Mésolift.
            <br><br>
            Μια σειρά πρωτοποριακή στη θαλάσσια κοσμετολογία, βασιζόμενη σε καινοτόμο επιστημονική έρευνα και σε
            στενή συνεργασία με τους ειδικούς της επανορθωτικής δερματολογίας, συμπεριλαμβανομένων
            τριών γνωστών δερματολόγων και ενός καθηγητή πανεπιστημίου, δημιουργήθηκε το κύριο συστατικό Marin Mésolift.
            <br><br>
            <span class="main-label-small">ΜΙΑ ΑΛΗΘΙΝΗ ΒΙΟ-ΑΝΑΓΕΝΝΗΤΙΚΗ ΚΑΙΝΟΤΟΜΙΑ</span><br>
            <br><br>
            Απευθείας εμπνευσμένη απο την αντιγηραντική μεσοθεραπεία, το Mésolift Marin ενισχύει τον μεταβολισμό των
            κυττάρων και διατηρεί τη νεανικότητα του δέρματος.
            <br><br>
            Το Mésolift Marin προέρχεται απο μια αποκλειστική σύνθεση:
            <br><br>
        </p>
        <ul>
            <li>34 Πολυ-αναζωογονητικά θρεπτικά συστατικά</li>
            <li>2 Β-βιταμίνες, 14 μέταλλα και 18 αμινοξέα</li>
            <li>1 Αναζωογονητικό Υαλουρονικό Οξύ</li>
            <li>1 νουκλεοτίδιο αντι-γήρανσης κυττάρων</li>
        </ul>
        <p>
            <br><br>
            Επιπλέον διαθέτει μία καινοτομία που αφορά στη μεταγωγή – διείσδυση συστατικών σε βάθος μέσα στο δέρμα.
        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>