<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        efb&reg; medical IPL Lazer
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Certified results from the first session !! Based on clinical studies !!
            <br>
            - Third generation medical Ipl Laser latest state of the art technology<br>
            - Does not stimulate skin melanin<br>
            - The most secure method to permanent hair removal<br>
            - Painless medical depilation<br>
            - Use in tanned skin ( before and after sunbathing )<br>
            - Hair removal suitable for all skin and hair types. <br>
            - Heals  : 
        </p>
        <ul>
            <li>Stretch marks</li>
            <li>Blemish</li>
            <li>Anti aging</li>
            <li>Acne</li>
            <li>Scars</li>
            <li>Phlebitis</li>
            <li>Skin restructure</li>
            <li>Sun marks</li>
            <li>Age marks</li>
            <li>White / Blonde hair - Fluff</li>
        </ul>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
        <div class="row main-label">
                efb&reg; medical IPL Lazer
        </div>
        <div class="row" style="height: 30px;"></div>
        <div class="row">
            <p>
                Πιστοποιημένα αποτελέσματα από την πρώτη συνεδρία !! Βασισμένα σε κλινικές μελέτες !!
                <br>
                - Τελευταία τεχνολογία medical IPL Laser<br>
                - Δεν διεγείρει τη μελανίνη του δέρματος<br>
                - Η πιο ασφαλής μέθοδος στην μόνιμη αποτρίχωση<br>
                - Ανώδυνη ιατρική αποτρίχωση <br>
                - Χρήση σε μαυρισμένο δέρμα (πρίν και μετά από την ηλιοθεραπεία)<br>
                - Αποτρίχωση για όλους τους τύπους δέρματος και τρίχας. <br>
                - Θεραπεύη
                </p>
                <ul>
                    <li>Ραγάδες</li>
                    <li>Πανάδες</li>
                    <li>Αντιγήρανση</li>
                    <li>Ακμή</li>
                    <li>Ουλές</li>
                    <li>Φλεβίτιδα</li>
                    <li>Ανάπλαση</li>
                    <li>Σημάδια από ήλιο</li>
                    <li>Σημάδια ηλικίας</li>
                    <li>Ασπρη / Ξανθή τρίχα - Χνούδι</li>
                </ul>
        </div>
    </div>
    <div class="row" style="height: 30px;"></div>