<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Services
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row main-text">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/hair-styling']">
                <img src="assets/images/services/hair-services.jpg"><br>
                Hair Styling
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/skin-care']">
                <img src="assets/images/services/skin-services.jpg"><br>
                Skin Care
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/one_med_mpl']">
                <img src="assets/images/services/mpl-services.jpg" width="139" height="104"><br>
                One Med MPL
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/i-beauty']">
                <img src="assets/images/services/ibeauty-services.jpg"><br>
                I Beauty
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/nails']">
                <img src="assets/images/services/nails-services.jpg"><br>
                Nails
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/massage']">
                <img src="assets/images/services/massage-services.jpg"><br>
                Massage
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/alternative-treatments']">
                <img src="assets/images/services/alternative-services.jpg"><br>
                Alternative Treatments
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/make-up']">
                <img src="assets/images/services/makeup-services.jpg"><br>
                Make-Up
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/mceutic']">
                <img src="assets/images/services/mceutic.jpg"><br>
                M Ceutic - Face Treatment
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/body-treatments']">
                <img src="assets/images/services/body.jpg"><br>
                Body Treatments
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/detox']">
                <img src="assets/images/services/detox.png"><br>
                Detox
                <br><br>
            </a>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Υπηρεσίες
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row main-text">
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/hair-styling']">
                <img src="assets/images/services/hair-services.jpg"><br>
                Κομμωτική
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/skin-care']">
                <img src="assets/images/services/skin-services.jpg"><br>
                Αισθητική
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/one_med_mpl']">
                <img src="assets/images/services/mpl-services.jpg" width="139" height="104"><br>
                One Med MPL
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/i-beauty']">
                <img src="assets/images/services/ibeauty-services.jpg"><br>
                I Beauty
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/nails']">
                <img src="assets/images/services/nails-services.jpg"><br>
                Νύχια
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/massage']">
                <img src="assets/images/services/massage-services.jpg"><br>
                Μασάζ
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/alternative-treatments']">
                <img src="assets/images/services/alternative-services.jpg"><br>
                Alternative Treatments
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/make-up']">
                <img src="assets/images/services/makeup-services.jpg"><br>
                Μακιγιάζ
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/mceutic']">
                <img src="assets/images/services/mceutic.jpg"><br>
                M Ceutic - Θεραπεία Προσώπου
                <br><br>
            </a>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/body-treatments']">
                <img src="assets/images/services/body.jpg"><br>
                Body Treatments
                <br><br>
            </a>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 text-center">
            <a [routerLink]="['/detox']">
                <img src="assets/images/services/detox.png"><br>
                Θεραπεία αποτοξίνωσης
                <br><br>
            </a>
        </div>

    </div>
</div>
<div class="row" style="height: 30px;"></div>