<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Hair Styling
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Hair Styling services by “Melina Hair Styling” has been established for over 17 years. Over the years we have gained a reputation
            for delivering a top class service offering our clients high quality hair treatments/ services. Our high quality
            team is always available to provide the best service based on your individual needs. Hair Services offered in
            Beauty Secret Center : Hair cutting (Men, Women, Children)
        </p>
        <ul>
            <li>Highlights</li>
            <li>Colouring</li>
            <li>Wash & Blow Dry</li>
            <li>Perm</li>
            <li>Hair straightening with high quality products</li>
            <li>Evening Styling</li>
            <li>Formal Styling</li>
            <li>Brides Styling</li>
            <li>Split-Ender Pro (Hair split end cutting)</li>
            <li>Hair Treatments</li>
            <li>Hair Extensions</li>
        </ul>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
            Κομμωτική
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
                Το κομμωτήριο μας στο  Beauty Secret center, "Μελίνα Hair Styling" , παρέχει υψηλή ποιότητα υπηρεσιών για περισσότερο από 17 χρόνια. 
                Το πεπειραμένο προσωπικό μας είναι πάντα διαθέσιμο να παρέχει την καλύτερη εξυπηρέτηση με βάση τις ανάγκες σας.
        </p>
        <ul>
            <li>Κόψιμο μαλλιών (ανδρικό, γυναικείο, παιδικό)</li>
            <li>Ανταύγειες μαλλιών</li>
            <li>Βάψιμο μαλλιών</li>
            <li>Λούσιμο</li>
            <li>Κτένισμα</li>
            <li>Περμανάντ</li>
            <li>Βραδινοί κότσοι</li>
            <li>Βραδινό κτένισμα</li>
            <li>Νυφικό κτένισμα</li>
            <li>Ίσιωμα με προϊόντα υψηλής ποιότητας</li>
            <li>Split - Ender Pro ( κόψιμο ψαλίδας )</li>
            <li>Εφαρμογή Hair Extensions</li>
            <li>Θεραπείες μαλλιών</li>
        </ul>
    </div>
</div>
<div class="row" style="height: 30px;"></div>