<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'" style="height:500px;">
    <div class="row main-label">
        Contact us
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <div class="row">
            <div class="col-xs-5">
                <span class="main-label">Tel:</span><br>00357 24 423 736
                <br><br>
                <span class="main-label">Email:</span><br>info@beautysecretcenter.com
                <br><br>
                <span class="main-label">Address:</span>
                <br>
                Great Alexander Street 26<br>Meneou Larnaka 7000
            </div>
            <div class="col-xs-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.597561245612!2d33.588954815609526!3d34.86633808039227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e09c9760f94375%3A0x7410b98d590c83b9!2sS.M.+Beauty+Secret!5e0!3m2!1sen!2sus!4v1507040128512"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        Επικοινωνία
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <div class="row">
            <div class="col-xs-5">
                <span class="main-label">Τηλ:</span><br>00357 24 423 736
                <br><br>
                <span class="main-label">Email:</span><br>info@beautysecretcenter.com
                <br><br>
                <span class="main-label">Διεύθυνση:</span><br>
                Οδός Μεγάλου Αλεξάνδρου 26<br>Μενεού Λάρνακα 7000
            </div>
            <div class="col-xs-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.597561245612!2d33.588954815609526!3d34.86633808039227!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14e09c9760f94375%3A0x7410b98d590c83b9!2sS.M.+Beauty+Secret!5e0!3m2!1sen!2sus!4v1507040128512"
                        width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="row" style="height: 30px;"></div>