<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        Make-Up
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Make up for special occasion<br>
            Daily simple make up <br>
            Brides make up <br>
            <strong class="main-label-small">Bridal Special package</strong><br>
            Two trials and make up on the wedding day<br>
        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
            Μακιγιάζ
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
                Μακιγιάζ για ειδικές περιστάσεις<br>
                Απλό καθημερινό μακιγιάζ<br>
                Μακιγιάζ για νύμφη<br>
                <strong class="main-label-small">Ειδική προσφορά μακιγιάζ για νύμφη</strong><br>
                Δύο πρόβες και μακιγιάζ την ημέρα του γάμου<br>
        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>