<div class="row" style="height: 20px;"></div>
<div class="container-fluid" *ngIf="_lang == 'eng'">
    <div class="row main-label">
        One Med MPL
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            High level technology<br>
            Pioneering last generation One Med MPL <br>
            Latest development in laser and IPL technology
            <br>
            - Permanent hair removal for all hair types <br>
            - Skin regeneration<br>
            - Acne treatment<br>
            - Hyperpigmentation Treatment<br>
            - Phlebitis Treatment<br>
            - Applicable for all skin colours through the year including Summer period<br>
            - Intergrates multiple latest technologies<br>
            - Optimal Filtering (using diffused filter types)<br>
            - Safe by fast<br>
            - Sub-zero spot ( 5°C )<br>
            - Unpainfull treatments, fast and effective !!<br>

        </p>
    </div>
</div>

<div class="container-fluid" *ngIf="_lang == 'gre'">
    <div class="row main-label">
        One Med MPL
    </div>
    <div class="row" style="height: 30px;"></div>
    <div class="row">
        <p>
            Η κορύφωση της τεχνολογίας <br>
            Το πρωτοποριακό τελευταίας γενεάς One Med MPL η εξέλιξη στα Laser και IPL
            <br>
            - Μόνιμη απομάκρυνση της τριχοφυΐας για όλους τους τύπους τρίχας <br>
            - Ανάπλαση Δέρματος <br>
            - Αντιμετώπιση Ακμής <br>
            - Θεραπεία Υπερμελαγχρώσεων <br>
            - Θεραπεία Ευρειαγγειών <br>
            - Κατάλληλο για όλους τους φωτοτύπους δέρματος. Εφαρμογές και τους καλοκαιρινούς μήνες <br>
            - Ενσωματώνει πολλαπλές σύγχρονες τεχνολογίες <br>
            - Optimal Filtering ( χρήση διαφορετικών ειδών φίλτρων ) <br>
            - Safe by fast <br>
            - Sub-zero spot ( -5°C ) <br>
            - θεραπείες ανώδυνες, γρήγορες και αποτελεσματικές !! <br>
        </p>
    </div>
</div>
<div class="row" style="height: 30px;"></div>